/*CSS Base do projeto*/
body{
    background-image: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
}

/* Stilo do loader*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -76px 0 0 -76px;
  width: 220px;
  height: 220px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}